
            <li>
              <a data-toggle="collapse" href="#<%= options_params[:model_plu] %>NavItem" class="collapsed" aria-expanded="false">
                <i class="material-icons">image</i>
                <p><%= options_params[:model_cap_plu] %>
                  <b class="caret"></b>
                </p>
              </a>
              <div class="collapse" id="<%= options_params[:model_plu] %>NavItem" aria-expanded="false" style="height: 296px;">
                <ul class="nav">
                  <li class="active">
                    <%%= link_to "List", <%= options_params[:namespace]%>_<%= options_params[:model_plu] %>_path %>
                  </li>
                  <li>
                    <%%= link_to "New", new_<%= options_params[:namespace]%>_<%= options_params[:model] %>_path %>
                  </li>
                </ul>
              </div>
            </li>
